/*
  File: public/css/custom-fonts.css
  Definisikan semua font kustom Anda di sini menggunakan @font-face.
*/

@font-face {
  font-family: 'Playfair Display';
  src: url('') format('truetype');
  /* Ganti 'PlayfairDisplay-Regular.ttf' dengan nama file Anda yang sebenarnya */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WDXL Lubrifont SC';
  src: url('') format('truetype');
  /* Ganti dengan nama file Anda yang sebenarnya */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('') format('truetype');
  /* Ganti dengan nama file Anda yang sebenarnya */
  font-weight: 300; /* Light */
  font-style: normal;
}