<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalender - Aplikasi Perjadin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="/css/output.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: -280px;
            width: 280px;
            height: 100vh;
            z-index: 50;
            transition: left 0.3s ease-in-out;
            overflow-y: auto;
        }

        .sidebar.visible {
            left: 0;
        }

        /* Saat sidebar terlihat, geser konten utama di semua ukuran layar */
        .sidebar.visible+.main-content {
            margin-left: 280px;
        }

        .main-content {
            transition: margin-left 0.3s ease-in-out;
        }

        header {
            position: sticky;
            top: 0;
            z-index: 30;
        }

        /* Utility class untuk rotasi ikon */
        /*.rotate-180 {
            transform: rotate(180deg);
        }*/
    </style>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body class="bg-slate-50 dark:bg-gray-900">
    <!-- Sidebar -->
    <aside class="sidebar bg-gradient-to-br from-dark-navy to-dark-blue text-white" id="sidebar">
        <!-- Sidebar content akan dimuat di sini -->
    </aside>

    <!-- Konten utama -->
    <div class="main-content">
        <!-- Header -->
        <header id="header-container">
            <!-- Header content akan dimuat di sini -->
        </header>

        <!-- Konten Kalender -->
        <main class="p-6 bg-[#f5f9fc] dark:bg-gray-800">
            <table class="table-note-agenda">
                <tbody class="title-months">
                    <div class="p-5 flex justify-between w-[943px] h-[58px] items-center bg-[#ffffff] border-[#e8e8e8] border
                    border-solid">
                        <!-- Title Months -->
                        <div class="flex space-x-10 items-center">
                            <img class="cursor-pointer w-[24px] h-[24px]" src="/img/arrow_back.png" id="previous-month"
                                alt="Bulan Sebelumnya">
                            <div class="text-left font-poppins font-semibold text-[24px] leading-[30px] text-mainNavy">
                                January, 2025
                            </div>
                            <img class="cursor-pointer w-[24px] h-[24px]" src="/img/arrow_forward.png" id="next-month"
                                alt="Bulan Berikutnya">
                        </div>

                        <!-- Title Variant Date/Category -->
                        <div class="flex items-center w-fit h-full space-x-4 p-0">
                            <div class="flex justify-center rounded-[8px] py-2 px-8 items-center space-x-8 w-[79px]">
                                <div class="text-mainNavy w-auto text-left font-poppins font-normal text-[14px] flex align-middle cursor-pointer"
                                    id="day-view">
                                    Day</div>
                            </div>
                            <div class="flex justify-center rounded-[8px] py-2 px-8 items-center space-x-8 w-[79px]">
                                <div class="text-mainNavy w-auto h-auto text-left font-poppins font-normal text-[14px] flex align-middle cursor-pointer"
                                    id="week-view">
                                    Week</div>
                            </div>
                            <div
                                class="flex justify-center rounded-[8px] py-2 px-8 items-center space-x-8 w-[79px] bg-[#DAEF84]">
                                <div class="text-mainNavy w-auto h-auto text-left font-poppins font-bold text-[14px] flex align-middle cursor-pointer"
                                    id="month-view">
                                    Month</div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <!-- Titel Days -->
                <tbody class="title-days w-full">
                    <tr class="h-[41px] items-center bg-[#ffffff] border-[#e8e8e8] border">
                        <td class="pl-3 pr-[2.7rem]"></td>
                        <td class="sunday py-3 pl-3 pr-20 border text-[#969696]
                            font-semibold font-sans">SUN <br><span
                                class="text-mainNavy font-medium text-[22px] font-inter">31</span></td>
                        <td class="monday py-3 pl-3 pr-20 border text-[#969696]
                            font-semibold font-sans">MON <br><span
                                class="text-mainNavy font-medium text-[22px] font-inter">01</span></td>
                        <td class="tuesday py-3 pl-3 pr-20 border text-[#969696]
                            font-semibold font-sans">TUE<br><span
                                class="text-mainNavy font-medium text-[22px] font-inter">02</span></td>
                        <td class="wednesday py-3 pl-3 pr-21 border text-[#969696]
                            font-semibold font-sans">WED<br><span
                                class="text-mainNavy font-medium text-[22px] font-inter">03</span></td>
                        <td class="thursday py-3 pl-3 pr-20 border text-[#969696] font-semibold font-sans">
                            THUR<br><span class="text-mainNavy font-medium text-[22px] font-inter">04</span></td>
                        <td class="friday py-3 pl-3 pr-20 border border-b-0 text-[#969696] font-semibold font-sans">
                            FRI<br><span class="text-mainNavy font-medium text-[22px] font-inter">05</span></td>
                        <td class="saturday py-3 pl-3 pr-[5.1rem] text-[#969696] font-semibold font-sans">
                            SAT<br><span class="text-mainNavy font-medium text-[22px] font-inter">06</span></td>
                    </tr>
                </tbody>
            </table>

            <!-- Note Field -->
            <table>
                <tbody class="w-full items-center bg-[#ffffff] border-[#e8e8e8] border border-solid">
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            08.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            09.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            10.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            11.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            12.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            13.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            14.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                    <tr class="title">
                        <td class="time-agenda h-[41px] pr-2 pl-2 font-semibold border border-solid font-sans items-center justify-center text-nowrap"
                            rowspan="2">
                            15.00
                        </td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-28 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.47rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.8rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.4rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[7.65rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.7rem] h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 pr-[6.87rem] h-[41px] border"></td>
                    </tr>
                    <tr>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                        <td class="note-agenda-row-top row-span-2 pl-3 h-[41px] border"></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>

    <script src="/js/main1.js"></script>
    <script src="/js/header-logic.js"></script>
    <script src="/js/kalender.js"></script>
    <script src="/js/sidebar.js"></script>
</body>

</html>